#kort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  
}
.produkt  {
    border: 1.5px solid rgba(39, 39, 39, 0.354);
    padding: 20px;
    padding-left: 70px;
    margin: 20px;
    background-color: rgba(213, 213, 213, 0.274);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.114);
    width: 300px;
    height: 600px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
aside {
    padding: 40px;
    margin-right: 90px;
    width: 300px;
    background-color: rgba(213, 213, 213, 0.274);
}
.beskrivning {
    background-color: white;
    width: 233px;
    height: 200px;
}
.beskrivning p {
    margin: 10px;
    padding: 5px;
}

.produkt.active {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.114);
}
button {
    background-color: rgba(212, 65, 65, 0.768);
    border: 1.5px solid rgba(176, 39, 39, 0.768);
    border-radius: 5px;
    color: rgb(236, 238, 240);
}
button:hover{
    background-color: rgba(226, 133, 133, 0.768);
    color: rgba(42, 42, 42, 0.977);
}

#huvud {
    border: 1.5px solid rgba(31, 30, 30, 0.768);
    height: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
#huvud h2{
    margin-left: 20px;
}